# Ansible provided
# {{ ansible_managed }}

object Endpoint "{{ icinga_director_master_name }}" {
}

object Zone "master" {
        endpoints = [ "{{  icinga_director_master_name }}" ]
}

object Zone "global-templates" {
        global = true
}

object Zone "director-global" {
        global = true
}
